body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #DDDDDD;
}

.breakline{
    width:60%;
    color:#e6e6e6;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.svg-container{
    width: 80%;
    height: 80%;
}

.svg{
    width:100%;
    height:100%;
}

ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height: 38px;
    background: #7FDBFF;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.dark{
    padding: 15px;
    background: #001f3f;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Header*/
header{
    background: #001f3f;
    color: #ffffff;
    padding-top: 30px;
    min-height: 80px;
    border-bottom: #7FDBFF 3px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}


header li{
    text-align: center;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    text-align: center;

}

header #branding h1{
    margin:0;
    font-size: 70px;
}

/*fix the header to the top of the screen*/
#fixed_header {
    z-index:1;
    top:0;
    width:100%;
}

header nav{

    font-size: 80px;
    padding: 10px 60px;
    text-align: center;
    margin-top: 10px;

}

header .highlight, header .current a{
    color: #7FDBFF;
    font-weight:bold;
}

header a,footer a:hover{
    color: #cccccc;
    font-weight: bold;
}

#newsletter{
    color: #ffffff;
    background: #001f3f;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

footer{
    padding: 20px 20px 150px;
    background-color: #001f3f;
    text-align: center;
}

footer li{
    display: inline;
    padding: 20px;
    text-align: center;
}

footer #function{
    padding-top: 3%;
    width: 100%;
    height: 80%;
    float: left;
}

footer #function a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

/***********************social button***************************/
footer .social{
    padding-top: 1%;
    width: 100%;
    height: 5%;
    float: right;
    bottom: 10%;
}
footer .social #facebook {
    width: 10%;
    height: 1%;
    float: right;
    padding: 1%;
}

footer .social #twitter {
    float: right;
    padding: 1%;
}

footer #info{

    width: 100%;
    padding: 10px;
    float: left;
    color: #FFFFFF;
}

/**************************local***********************************/

/*banner*/
#banner{
    min-height: 200px;
    background:url('../images/banner.jpg') no-repeat -200px -200px;
    text-align: center;
    color: #001f3f;
    opacity: 0.5;
}

#banner h1{
  color: #7FDBFF;
  margin-top:50px;
}


/*items*/
#items .box{
    float: left;
    text-align: center;
    width: 20%;
    padding: 100px 25px;
}

#items .box img{
    width: 150px;
}


/*boxes*/
#boxes .box{
    float: left;
    text-align: center;
    width:30%;
    padding: 100px 10px;
}

#boxes .box img{
    width: 90px;
}

/*sidebar*/
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea, article#main-col .feedback textarea, article#main-col .feedback input{
    width:90%;
    padding: 5px;
}

/*main-col*/
article#main-col{
    float: left;
    width:65%;
}

/*********************projects***********************************/
ul#projects li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}

#d3-container{
    max-width: 100%;
    float: bottom;
    padding-left: auto;
    padding-right: auto;
}

#svg{
    height: 100%;
    width: 100%;
}

/**************menu********************/
.d3-context-menu {
    position: absolute;
    display: none;
    background-color: #f2f2f2;
    border-radius: 4px;

    font-family: Arial, sans-serif;
    font-size: 14px;
    min-width: 150px;
    border: 1px solid #d4d4d4;

    z-index:1200;
}

.d3-context-menu ul {
    list-style-type: none;
    margin: 4px 0px;
    padding: 0px;
    cursor: default;
}

.d3-context-menu ul li {
    padding: 4px 16px;
}

.d3-context-menu ul li:hover {
    background-color: #4677f8;
    color: #fefefe;
}

