<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>GraphServlet</servlet-name>
        <servlet-class>servlet.GraphServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GraphServlet</servlet-name>
        <url-pattern>/servlet/GraphServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NodeExpandServlet</servlet-name>
        <servlet-class>servlet.NodeExpandServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NodeExpandServlet</servlet-name>
        <url-pattern>/servlet/NodeExpandServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NodeDescriptionServlet</servlet-name>
        <servlet-class>servlet.NodeDescriptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NodeDescriptionServlet</servlet-name>
        <url-pattern>/servlet/NodeDescriptionServlet</url-pattern>
    </servlet-mapping>

</web-app>